* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.App {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 10px;
}